# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Some of the popular languages that Data Scientists use are:
- Some of the commonly used libraries used by Data Scientists include:
- creating 1 row table
- arithmetic expression to mutiply then add integers
- convert 200 minutes to hours by diving by 60

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Tensorflow

| Data Science Tools |
------------------------------
| RStudio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = (minutes/60)

print(hours)

3.3333333333333335

## Author
Md.sojib